@font-face {
  font-family: 'Tmoney';
  src: url('../font/TmoneyRoundWindRegular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.containerAdmin {
  width: 1440px;
  min-width: 1440px;
  height: 1024px;
  z-index: -5;
  display: block;
  float: left;
  margin-left: 50px;
  background-color: rgb(216, 228, 236, 0.25);
}

.sidebar {
  width: 277px;
  height: 1024px;
  background: #4478c6;
  position: absolute;
  z-index: 5;
  color: white;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.sidebar div {
  margin: 12px 10px 10px 15px;
}

.box {
  width: 540px;
  height: 212px;
  display: block;
  float: right;
  text-align: left;
  padding: 20px;
  margin: 6px;
  border: solid white 0px;
  position: relative;
  background-color: white;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 30px;
}

.main {
  width: 1115px;
  height: 612px;
  display: block;
  float: right;
  text-align: left;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  vertical-align: middle;
  padding: 50px;
}

.sidebarImage {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  position: absolute;
  text-align: left;
  left: 45px;
  bottom: 15px;
}

.personImage {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  position: relative;
}

.teacher {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  margin-right: 15px;
}

.pointCard {
  top: 84px;
  width: 1440px;
  height: 212px;
  background-color: #fbbb61;
  z-index: 8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form {
  vertical-align: middle;
}

.inputbox {
  height: 42px;
  vertical-align: middle;
}

.title {
  display: inline-block;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: space-between;
}

.fadedText {
  color: #9b9b9b !important; /* 우선순위에 밀려서  important를 썼음*/
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #4478c6;
  color: white;
}

.activePage {
  background-color: #4478c6;
  color: white;
}

.menuItem:hover {
  background-color: #4478c6;
  color: white;
}

.flexContainer {
  display: flex;
  align-items: center; /* 텍스트와 이미지를 수평의 중앙에 정렬 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
