/* eslint-disable */

@font-face {
  font-family: 'Tmoney';
  src: url('../font/TmoneyRoundWindRegular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  padding-left: 50px;
  font-size: 20px;
  font-family: 'Tmoney';
  color: black;
  letter-spacing: -1px;
  text-align: center;
  font-weight: 600;
}

.container {
  width: 400px;
  min-width: 375px;
  height: 812px;
  z-index: -5;
  display: block;
  float: none;
  margin: auto;
}

.box {
  display: inline-block;
  margin: 6px;
  border: solid pink 2px;
  text-align: center;
}

.rowbox {
  display: flex;
  margin: auto;
  border: solid black 0px;
  width: 375px;
  height: 180px;
  padding: 0;
  justify-content: space-around;
}

.mainbox {
  margin: 91px 22px 139px 22px;
  border: solid black 0px;
  text-align: center;
  vertical-align: middle;
}

.title {
  display: block;
  font-size: 18px;
}

span {
  position: relative;
}

.ft14 {
  font-size: 14px;
}

.mt7 {
  margin-top: 7px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.ml10 {
  margin-left: 10px;
}

.mb_3 {
  margin-bottom: -3px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}
.firstgrade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 17px;
}

.anothergrade {
  font-size: 12px;
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}

.coin {
  display: inline-block;
  position: relative;
  margin-left: 13px;
}

.qr {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.dog {
  position: relative;
  display: inline-block;
  flex-direction: row;
  justify-content: left;
}

.absolute {
  position: absolute;
}

.inline {
  display: inline-block;
}

.context {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
