/* eslint-disable */

@font-face {
  font-family: 'Tmoney';
  src: url('../font/TmoneyRoundWindRegular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.subtitle {
  font-size: 20px;
  font-weight: 700;
}

.loginBox {
  width: 308px;
  height: 250px;
  border: solid #70c3ff 3px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 25px;
}

.nextButton {
  width: 80px;
  height: 40px;
  background-color: #70c3ff;
}

img {
  position: relative;
}
