@font-face {
  font-family: 'Tmoney';
  src: url('../font/TmoneyRoundWindRegular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.containerAdmin {
  width: 1440px;
  min-width: 1440px;
  height: 1024px;
  z-index: -5;
  display: block;
  float: left;
  margin-left: 50px;
}

.sidebar {
  width: 277px;
  height: 1024px;
  background: #484bb3;
  position: absolute;
  z-index: 5;
  color: white;
}

.sidebar div {
  margin: 12px 10px 10px 15px;
}

.box {
  width: 1153px;
  height: 252px;
  display: block;
  float: right;
  text-align: left;
  padding: 20px;
  margin: 6px;
  border: solid pink 2px;
  position: relative;
}

.main {
  width: 1163px;
  height: 688px;
  display: block;
  float: right;
  text-align: left;
  padding: 20px;
}

.personImage {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  position: relative;
}

.teacher {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  margin-right: 15px;
}

.pointCard {
  top: 84px;
  width: 1440px;
  height: 212px;
  background-color: #fbbb61;
  z-index: 8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.form {
  vertical-align: middle;
}

.inputbox {
  height: 42px;
  vertical-align: middle;
}

.title {
  display: inline-block;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: space-between;
}

/* .table {
  text-align: center;
}

table,
th {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
